* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    /*Fargen kan byttes*/
    background: radial-gradient(#e53935, #e35d5b);
}